body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1b1b1b;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HOME SECTION */
.home-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home-section span {
    color: orange;
}

.home-section button {
    margin-top: 20px;
    padding: 10px 25px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ABOUT */
.about-section,
.project-section,
.contact-section {
    padding: 80px 20px;
    text-align: center;
}

/* PROJECTS */
.project-box {
    background: #222;
    padding: 20px;
    margin: 15px auto;
    width: 70%;
    border-radius: 10px;
}

/* CONTACT FORM */
form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px 0;
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 8px;
}

form button {
    padding: 12px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}